<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')  }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')  }}"></script>
</head>
<h1>Hola {{ username  }}</h1>
<body>
{{  course_name }}
    


{%  if is_premium %}
<p> es premium  </p>
{% else %}
 <p>no es premium</p>
{% endif %}


{% if courses %}
<p>Listado de cursos</p>
<ul>
    {% for course in courses %}
       <li>{{  course }}</li>
    {%endfor%}
</ul>
{% endif %}


<img src="{{ url_for('static', filename='images/image.jpg') }}" alt="">
</body>

</html>